@font-face {
  font-family: 'Coelbren';
  src: url('./assets/fonts/BabelStoneCoelbren.woff') format('woff');
}

:root {
  font-family: 'Coelbren', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #464645; /* iron ore */
  background-color: hsl(35, 21%, 73%); /* shiitake */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing-page .landing-title {
  white-space: normal;
  display: flex;
  flex-direction: column;
}

.landing-page .landing-title p {
  margin: 0.75rem;
}

.landing-page .landing-title .the {
  font-size: 1.5rem;
}

.landing-page .landing-title .three-rays {
  font-size: 1.17rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
