@font-face {
  font-family: 'Coelbren';
  src: url('./assets/fonts/BabelStoneCoelbren.woff') format('woff');
  /* font origin: https://www.babelstone.co.uk/Fonts/Coelbren.html */
}

:root {
  font-family: 'Coelbren', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #464645; /* iron ore */
  background-color: hsl(35, 21%, 73%); /* shiitake */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* LANDING PAGE STYLES */

.landing-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('./assets/images/druids_den_sky_image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}

/* Add this for the overlay */
.landing-page::before {
  content: '';
  position: absolute;
  inset: 0;
  background: hsla(35, 21%, 73%, 0.85); /* shiitake */
  z-index: 0;
  pointer-events: none;
}

/* Ensure content is above the overlay */
.landing-page > * {
  position: relative;
  z-index: 1;
}

.landing-page .landing-title {
  white-space: normal;
  display: flex;
  flex-direction: column;
}

.landing-page .landing-title p {
  margin: 0.75rem;
}

.landing-page .landing-title .the {
  font-size: 1.5rem;
}

.landing-page .landing-title .three-rays {
  font-size: 1.17rem;
}

/* END LANDING PAGE STYLES */

/* SPOOKTOBERFEST PAGE STYLES */

.spooktoberfest-page {
  padding: 2rem;
}

.spooktoberfest-page h1 {
  margin-bottom: 0;
}

.spooktoberfest-page center {
  margin: 1rem 6rem;

  @media (max-width: 768px) {
    margin: 1rem;
  }
}

.spooktoberfest-page main {
  max-width: 66%;

  @media (max-width: 768px) {
    max-width: 100%;
  }
}

/* END SPOOKTOBERFEST PAGE STYLES */

/* COMMON STYLES */

.page-header {
  display: flex;
  justify-content: space-between;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: start;
  }
}

.page-header h1, h2 {
  margin: 0;
  font-weight: 400;
}

.page-header .bottom-border {
  border-bottom: 1px dashed #464645;
  width: 20%;
  margin-top: 1rem;
}

.coelbren-subheading {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.subheading {
  font-size: 1.2rem;
}

.back-navigation {
  margin-top: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
}

html, body {
  margin: 0;
  min-width: 320px;
  height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;

  @media (max-width: 768px) {
    font-size: 2.5em;
  }
}
